<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>UKHSA statistics production hub</title>
    
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="nav-icon_styles.css">
    
  </head>
  <body>
    
    <div id="big-banner">
      <div id="big-banner-content">
        <p>UKHSA statistics production hub</p>
      
        <div id="nav-icon-container">
          <div id="nav-icon">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>  
          
          <div id="menu-container">
            A menu could go here!
          </div>
          
        </div>
        
        
        
      </div>
    </div>
    <div id="little-banner"></div>
    
    <div class="main">
      
      <h1>{{ page.title }}</h1>
      {{ content }}
      
    </div>
    
  </body>
</html>