/*Set global values*/
:root{  
  --main-width: 1200px
}


/*Banner content*/
#big-banner{
  background-color: #007C91;
  height: 50px;
}

#big-banner p{
  font-family: sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  
  padding-top: 10px;
  font-size: 20pt;
  color: white;
}

#big-banner-content{
  max-width: var(--main-width);
  margin: 0 auto 0 auto;
  display: flex;
}

#little-banner{
  background-color: #003B5C;
  height: 10px;
  max-width: var(--main-width);
  margin: 0 auto 0 auto;
}

#site-nav{
  max-width: var(--main-width); 
  margin: 0 auto 35px auto;
  display: flex;
  border-bottom: 1pt solid grey;
}

#site-nav a{
  text-decoration: none;
  color: unset;
}

#site-nav a:hover{
  text-decoration: underline;
}

#site-nav p{
  margin: 15px 18px 15px 0;
}


/*Main body content*/
body{
  margin: 0;
}

.main{
  max-width: var(--main-width);
  margin: 0 auto 0 auto;
}

p, h1, h2, h3, h4, h5, button, ul, ol{
  font-family: sans-serif;
}

blockquote{
  width: fit-content;
  margin: 1em 0 2em 0;
  padding: 10px;
  border: 1pt solid grey;
  border-radius: 10px;
  background:#F0FDFF;
}

blockquote>h2:first-of-type, blockquote>h3:first-of-type, blockquote>h4:first-of-type, blockquote>h5:first-of-type{
  margin-top: 5px;
}

.index-link{
    display: inline-block;
    border: 1pt solid grey;
    border-radius: 10px;
    background-color: #007C91;
    color: white;
    padding: 0 10px;
    margin-top: 40px;
    margin-right: 10px;
    width: fit-content;
}

.expandables-block{
  margin-bottom: 2em;
}

.expandable-header{
  margin: 1em 0 0 0;
  width: 100%;
  text-align: left;
  padding: 15px 10px;
  border: 1pt solid grey;
  border-radius: 10px;
  font-size: medium;
  background: #dbdbda;
}


.expandable-header:focus {
  outline: 1px solid;
  outline-offset: 1px;
}

.expandable-header[aria-expanded="false"]::before{
  content: "\f067";
  font-family: FontAwesome;
}

.expandable-header[aria-expanded="true"]::before{
  content: "\f068";
  font-family: FontAwesome;
}


.expandable-contents{
  margin-top: 24px;
  margin-bottom: 30px;
  border-bottom: 1pt solid lightgrey;
}

.expandable-contents[aria-hidden="true"] {
  display:none;
}



code{
  background: #582C83;
  color: white;
  font-size: larger;
  display: block;
  width: fit-content;
  padding: 10px;
}