/*Index page specific styling*/
.index-link{
  display: inline-block;
  border: 1pt solid grey;
  border-radius: 10px;
  background-color: #007C91;
  color: white;
  padding: 1px 10px;
  margin-top: 40px;
  margin-right: 10px;
  width: fit-content;
}

.index-link:hover{
  border: 1px solid black;
  padding: 1px 8px;
}

#index-tile-block{
  display:flex;
  flex-wrap: wrap;
  margin-top: 25px;
  margin-left: -10px;
}

.index-tile{
  background-color: #007C91;
  padding: 10px;
  height:calc(100% - 20px);
}

.index-tile:hover{
  border: 2pt solid black;
  padding: 8px;
}   

.index-tile-a{
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: white;
  margin-left: 10px;
  margin-top: 10px;
}

.index-tile h3{
  margin-top: 0;
}

.index-tile p{
  margin-bottom: 0;
}